.optionsContainer{
    height: 100%;
    width: 84.8vw;
    margin-bottom: 70px;
    padding-bottom: 1.25vw;
    background: #F2F2F2;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.colorBox{
    width:11.3vw;
    height:20vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}