@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@400;700&display=swap');
.App{
  font-family: 'Inter';
  font-style: normal;  
}

.header{
  position: relative;
  z-index: 1;
  top: 0;
}
