.containerForm{
    height: 100%;
    width: 50%;
    background: #F2F2F2;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw auto 5.8vw auto;
}
#formCrearExp{
    height: 100%;
    width: 50vw;
    border-radius: 10px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#tituloCrearExp{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2vw;
    margin-bottom: 2.5vw;
}

#inputCE{
    margin: 0 1.6vw 2.8vw 0;
    padding: 0.8vw;
    border: none;
    border-radius: 5px;
    font-size: auto;
}

#btnCrearExp:hover{
    background: #8B2E87;
}

.colorBoxExp{
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1.5vw;
}