.loginContent{
    display: flex;
    flex-direction: row;   
}

.imgLogin{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: flex-end;
}

#formCont{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;  
    margin-right: 10vw;
}

#inputL{
    margin: 2vw;
    width: 31vw;
    padding: 0.8vw;
    border: 1px solid #BCBABA;
    border-radius: 8px;
}

#btn:hover{
    background: #8B2E87;
}