.banner{
    position: relative;
    text-align: center;  
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: -5vw;
}

.contentBanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 6.66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 4.16vw;
    color: #FFFFFF;
}

.options{
    display: flex;
    align-items: center;
}

#optionsContainer{
    width: 80%;
    height: 100%;
    background: #F2F2F2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3.3vw auto 0 auto;
    font-size: 1.5vw;
    color: #625E5E;
}

.btnLink{
    width: 16vw;
    height: 16vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:3.3vw;
    text-align: center;
}

.btnLink:link{
    color: white;
}

.btnLink:visited{
    color: white;
}

#btnIcon{
    width: 15vw;
    height: 15vw;
}

#btnIcon:hover{
    width: 100%;
    height: 100%;
}

.txtIcon{
    height: auto;
    margin-bottom: 1vw;
    font-size: 1.3vw;
    font-family: "Raleway";
    font-weight: bold;    
    color:#FFFFFF;
}

#btnIcon:hover > .txtIcon { 
    font-size: 1.5vw;
}

.icono{
    width: 7.8vw;
    padding:1vw;
    height: auto;
}

#btnIcon:hover > .icono { 
    width: 8.4vw;
    height: auto;
}

.iconLogout{
    width: 2.7vw;
    height: auto;
    color: #8B2E87;
    margin: 3vw 0 0 35vw;
}

.iconLogout:hover{
    cursor: pointer;
    color: #db2923;
}

.headerAdmin{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vw;
}

