.banner{
    position: relative;
    text-align: center;  
    justify-content: center;
    align-items: center;
    height: 34.83vw;
    width: 100%;
}

.contentBanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 6.66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 4.16vw;
    color: #FFFFFF;
}

.options{
    display: flex;
    align-items: center;
}

#optionsContainer{
    width: 93.33vw;
    height: 38.66vw;
    background: #F2F2F2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto 40px auto;
    font-size: 1.8vw;
    color: #625E5E;
}
.arrow:link{
    color:white;
}

.arrow:visited{
    color:white;
}

.btn{
    width: 16vw;
    height: 16vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:3.3vw;
    font-size: 2vw;
    color:#FFFFFF;
}
.btn:link{
    color: white;
}

.btn:visited{
    color: white;
}

.icono{
    width: 7.8vw;
    padding:10px;
    height: auto;
}

