.footer{
    
    height: 200px;
    width: 100%;
    background: #45B2E6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.logoFooter{
    height: 120px;
    width: auto;
    padding: 35px;
}

.txtFooter{
    width: 398px;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #FFFFFF;
    padding-top: 10px;
    padding-right: 35px;
}